* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header, footer {
    background-color: rgb(228, 226, 201);
    color: black;
    padding: 3rem;
}

main {
    margin: 2rem;
    min-height: 60vh;
}